[user]
	name = Daniel Williams
	email = daniel.williams@ligo.org
	signingkey = daniel.williams@ligo.org
[commit]
	gpgsign = true
[http]
	cookiefile = /tmp/ecpcookie.u5061
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
